/* start variables */
:root {
    --sec-font: "Sen", sans-serif;
    --main-color: #0080FF;

}

/* end variables */



/* start glopal rules */
html {
    scroll-behavior: smooth;

}

body {
    font-family: "Inter", sans-serif;
    color: white;

}


.main-btn {
    background: var(--main-color);
    color: white;
    max-width: 165px;
    padding: 10px 20px;
    font-family: var(--sec-font);
    font-weight: bold;
    border: 0;
    box-shadow: 0 0 10px var(--main-color);
    border-radius: 10px;
    transition: 0.5s;
    transition: 0.6s;
}

.main-btn:hover {
    box-shadow: 0 0 20px var(--main-color);
    scale: 1.1;
    transform: translateY(-2px);
    background-color: #000;
}


.main-btn:active {
    scale: 1;
    background-color: #000;
}


.span-color {
    color: var(--main-color);
}


/* end glopal rules */


/* start header */
header .navbar-brand {
    font-size: 35px;
    font-weight: bold;
    font-family: var(--sec-font);
    color: white;
}



header .navbar {
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    z-index: 9999;


    background-color: #343a40ca;
    /* شفاف */
    backdrop-filter: blur(0.2rem);
    /* ضباب */
    -webkit-backdrop-filter: blur(20px);
    /* دعم سفاري */
}

header .navbar-nav {
    gap: 18px;
}

header a {
    font-family: var(--sec-font);
    font-weight: bold;
    font-size: 18px;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}


header a:not(header .navbar-brand):hover {
    color: #0080FF;
}

/* start view */

@media (min-width:551px) and (max-width:991px) {
    .page1 {
        margin-top: 180px;
        text-align: center;
    }

    .page1 .container .icons {
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .page1 .container .img {
        display: flex;
        justify-content: center;
        scale: 0.9;
        margin-top: 15px;
    }


}

@media (min-width:992px) {
    .page1 {
        margin-top: 180px;

    }

    .page1 .container .img {
        display: flex;
        justify-content: center;
        scale: 0.9;
        margin-top: 15px;
    }


}

/* end view */

/* end header */



/* start page 1  */
.page1 {
    margin-bottom: 130px;
    margin-top: 115px;
}

.page1 .container h1 {
    font-size: 64px;
    font-weight: bold;
    margin: 20px 0;
}

.page1 .container h3 {
    font-weight: bold;
    font-size: 32px;
}

.page1 .container h3 .auto-type {
    color: var(--main-color);
    font-size: 25px;
    font-variant: small-caps;
    font-weight: bold;
}

.page1 .container p {
    margin: 25px 0 10px 0;
}

/* icons */
.page1 .container .icons {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}

.page1 .container .icons i {
    font-size: 30px;
    color: var(--main-color);
    transition: 0.5s;
    padding: 5px;
    margin: 20px 5px;
}

.page1 .container .icons i:hover {
    filter: drop-shadow(0 0 10px #0080FF);
    scale: 1.1;
    transform: translateY(-5px);

    border: 1px solid var(--main-color);
    border-radius: 50%;

}


/* button */
.page1 .container .main-btn {
    background: var(--main-color);
    color: white;
    max-width: 165px;
    padding: 10px 20px;
    font-weight: bold;
    border: 0;
    box-shadow: 0 0 10px var(--main-color);
    transition: 0.3s;
    border-radius: 10px;
}

.page1 .container .main-btn:hover {
    box-shadow: 0 0 20px var(--main-color);
    scale: 1.1;
    transform: translateY(-2px);
    background-color: #000;
}


.page1 .container .main-btn:active {
    scale: 0.9;

}



.page1 .container .row {

    align-items: center;
}

.page1 .container .img {
    text-align: end;
}

.page1 .container img {
    width: 414px;
    height: 406px;
    border-radius: 50%;
    scale: 0.9;
    /* filter: drop-shadow(1px  1px  20px red); */
    /* box-shadow: 1px  1px 20px  red; */
    position: relative;
}


.page1 .container .img::before {
    content: '';
    width: 411px;
    height: 405px;
    scale: 0.92;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    border: 0;
    border-style: solid;
    border-top-color: beige;
    border-left: 5px #0080FF solid;
    border-bottom-right-radius: 220px;
    filter: drop-shadow(0 0 10px var(--main-color));

    animation-name: profile-circle;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}


@keyframes profile-circle {
    0% {
        rotate: 0deg;
        border-left: 5px #0080FF solid;
    }

    50% {
        rotate: 180deg;
        border-left: 5px #005a83 solid;
    }

    100% {
        rotate: 360deg;
        border-left: 5px #0080FF solid;
    }
}


i {
    color: white;
}

/* end page 1  */


/* start page 2 */
.page2 {
    margin-top: 200px;
}

.page1 .container .img {
    text-align: end;
}

.page2 .container img {
    width: 414px;
    height: 406px;
    border-radius: 50%;
    scale: 0.9;
    filter: drop-shadow(1px 1px 20px var(--main-color));
    /* box-shadow: 1px  1px 20px  red; */
    position: relative;
}


.page2 .container .img::before {
    content: '';
    width: 411px;
    height: 405px;
    scale: 0.92;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    border: 75px solid var(--main-color);
    filter: drop-shadow(1px 1px 20px var(--main-color));


}

.page2 .container h1 {
    font-size: 32px;
    font-weight: bold;
}

.page2 .container h1 span {
    color: var(--main-color);
}


.page2 .container h3 {
    font-size: 22px;
    font-weight: normal;
}

.page2 .container .txt .main-btn {


    background: var(--main-color);
    color: white;
    max-width: 165px;
    padding: 10px 20px;
    font-family: var(--sec-font);
    font-weight: bold;
    border: 0;
    box-shadow: 0 0 10px var(--main-color);
    transition: 0.3s;
    border-radius: 10px;


}

.page2 .container .txt .main-btn:hover {
    box-shadow: 0 0 20px var(--main-color);
    scale: 1.1;
    transform: translateY(-2px);
    background-color: #000;
}



.page2 .container .txt .main-btn:active {
    scale: 0.9;
    background-color: #000;
}


/* start view */
@media (max-width:500px) {
    .page2 .container img {
        width: 414px;
        height: 406px;
        border-radius: 39%;
        scale: 0.5;
        filter: drop-shadow(1px 1px 20px var(--main-color));
        /* box-shadow: 1px  1px 20px  red; */
        position: relative;
    }


    .page2 .container .img::before {
        content: '';
        width: 411px;
        height: 405px;
        scale: 0.52;
        position: absolute;
        z-index: -1;
        border-radius: 50%;
        border: 75px solid var(--main-color);
        filter: drop-shadow(1px 1px 20px var(--main-color));


    }

    .page2 .container .img {
        display: flex;
        justify-content: center;
    }


    .page2 .container .txt {
        text-align: center;

    }

}

/* end view */

/* end page 2 */


/* start page 3 */
.page3 {
    margin-top: 115px;
}


.page3 .title {
    display: flex;
    justify-content: center;
}

.page3 .title h1 {
    font-size: 32px;
    font-weight: bold;
}

.page3 i {
    font-size: 45px;
}

.page3 .card .card-title {
    font-size: 32px;
    font-weight: normal;

}

.page3 .card .card-text {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 30px;
}

.page3 .card-body {
    background-color: #1E1E1E;
    /*ثابت بيبوظ شكله جوا المتصفح مش بيخليه يجي في النص  width الكود مع ال */
    /* width: 400px; */
    /* height: 431px;  */
    padding: 50px;
    border-radius: 25px;
    text-align: center;
}



/* btn */
.page3 .container .main-btn {


    background: var(--main-color);
    color: white;
    max-width: 165px;
    padding: 10px 20px;
    font-family: var(--sec-font);
    font-weight: bold;
    border: 0;
    box-shadow: 0 0 10px var(--main-color);
    transition: 0.3s;
    border-radius: 10px;


}

.page3 .container .main-btn:hover {
    box-shadow: 0 0 20px var(--main-color);
    scale: 1.1;
    transform: translateY(-2px);
    background-color: #000;
}



.page3 .container .main-btn:active {
    scale: 0.9;
    background-color: #000;
}




/* start view */
@media (max-width:400px) {

    .page3 .row {
        gap: 25px;
    }

    .page3 .card-body {
        scale: 0.9;
    }
}



@media (min-width:400px) and (max-width:992px) {

    .page3 .row {
        gap: 25px;
    }
}

/* end view */

/* end page 3 */


/* start page 4 */

.page4 {
    margin-top: 115px;


}

.page4 .title {
    display: flex;
    justify-content: center;
}

.page4 .title h1 {
    font-size: 32px;
    font-weight: bold;

}

.page4 .row .overlay {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page4 .row .overlay h1 {
    font-size: 32px;
    font-weight: bold;

}

.page4 .row .overlay p {
    font-size: 15px;
    font-weight: normal;

}

.page4 .row .overlay .links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.page4 .row .overlay .link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-family: var(--sec-font);
    transition: 0.5s;
}

.page4 .row .overlay .link:hover {
    filter: drop-shadow(0 0 8px rgb(255, 255, 255));
    transform: translateY(-5px);
}

.page4 .row .overlay i {
    font-size: 30px;
}


/* boxes and imgs*/


.page4 .box1 {
    background: url(img/project\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    position: relative;
}

.page4 .box2 {
    background: url(img/project\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    position: relative;
}

.page4 .box3 {
    background: url(img/project\ 3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    position: relative;
}

.page4 .box4 {
    background: url(img/project\ 4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    position: relative;
}





.box {


    height: 345px;
    background-color: #444;
    border-radius: 15px;
    overflow: hidden;
}

/* المربع الشفاف اللي فيه الكلام */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    transform: translateY(100%);
    opacity: 0;
    transition: 0.7s;
    backdrop-filter: blur(4px);
    background-color: #004d9977;
    filter: drop-shadow(0 0 20px var(--main-color));
    border-radius: 15px;
    /* ضبابية اختيارية */
}

/* لما نعمل hover على المربع الأساسي */
.box:hover .overlay {
    transform: translateY(10%);
    opacity: 1;
}



/* start view */
@media (max-width:450px) {
    .page4 .row .overlay p {
        font-size: 8px;
    }
}

/* end view */

/* end page 4 */




/* start page 5 */

.page5 {
    margin-top: 115px;
}

.page5 .title {
    display: flex;
    justify-content: center;
}

.page5 .title h1 {
    font-size: 32px;
    font-weight: bold;
}


.page5 form .btn-box {
    display: flex;
    justify-content: center;
}

.page5 form .btn-box .btn {

    background: var(--main-color);
    color: white;
    max-width: 165px;
    padding: 10px 20px;
    font-family: var(--sec-font);
    font-weight: bold;
    border: 0;
    box-shadow: 0 0 10px var(--main-color);
    transition: 0.3s;
    border-radius: 10px;

}

.page5 form .btn-box .btn:hover {
    box-shadow: 0 0 20px var(--main-color);
    scale: 1.1;
    transform: translateY(-2px);
    background-color: #000;
}



.page5 form .btn-box .btn:active {
    scale: 0.9;
    background-color: #000;
}






/*  input عشان اشيل السهمي بتوع ال  */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* end page 5 */

/* start footer */
footer {
    background: #1E1E1E;
    padding: 25px 10px;
    text-align: center;
}

footer .foot h4 {
    font-size: 18px;
    font-weight: normal;
    font-family: var(--sec-font);
}

footer .foot span {
    font-weight: 900;
    font-size: 22px;
}

/* end footer */















































































/* start view page 1*/
@media (max-width:549px) {
    .ul-nav li a {
        font-size: 6px;
    }


    /* .page1 .container .img {

        scale: 0.4;
    } */


    /*  */
    /*  */

    .page1 {
        margin-top: 155px;
        text-align: center;

    }

    header .navbar-nav {
        gap: 12px;
    }


    .page1 .container h1 {
        font-size: 30px;
        font-weight: bold;
        margin: 20px 0;
    }


    .page1 .container h3 {
        font-weight: bold;
        font-size: 20px;
    }

    .page1 .container .icons {
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .page1 .container .img {
        display: flex;
        justify-content: center;
        scale: 0.5;
        margin-top: 15px;
    }

    .page1 .container img {
        border-radius: 40%;

        width: 414px;
        height: 406px;
        scale: 0.8;
        /* filter: drop-shadow(1px 1px 20px red); */
        /* box-shadow: 1px 1px 20px red; */
        position: relative;
    }

    .page1 .container .img::before {
        content: '';
        width: 411px;
        height: 405px;
        scale: 0.9;
        position: absolute;
        z-index: -1;
        border-radius: 50%;
        border: 0;
        border-style: solid;
        border-top-color: beige;
        border-left: 5px #0080FF solid;
        border-bottom-right-radius: 220px;
        animation-name: profile-circle;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

    /*  */
    /* 550px  */

    @media (min-width:550px) {
        nav .navbar-brand {
            font-size: 40px;
        }

        .ul-nav {
            width: 310px;
        }

        .ul-nav li a {
            font-size: 13px;
        }

        .page1 {
            margin-top: 180px;
            text-align: center;
        }

        .page1 .container .icons {
            display: flex;
            align-items: center;
            justify-content: center;
        }




    }







}

/* end view *